body{

margin:0;

font-family:Arial;

background:#eef2f7;

}


.layout{

display:flex;

height:100vh;

}


.sidebar{

width:280px;

background:#111827;

color:white;

padding:35px;

box-sizing:border-box;

}


.sidebar h1{

font-size:32px;

margin-bottom:10px;

}


.subtitle{

opacity:.7;

line-height:1.5;

margin-bottom:50px;

}


.section{

margin-top:40px;

}


.model-card{

display:block;

padding:18px;

margin-top:15px;

background:#1f2937;

border-radius:12px;

cursor:pointer;

transition:.3s;

}


.model-card:hover{

background:#2563eb;

}


.model-card input{

margin-right:10px;

}


.content{

flex:1;

padding:50px;

overflow:auto;

}


.content h1{

margin-bottom:40px;

font-size:40px;

}


form{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}


input,
select{

padding:16px;

border:none;

border-radius:12px;

font-size:15px;

background:white;

}


button{

grid-column:span 2;

padding:18px;

background:#2563eb;

border:none;

border-radius:12px;

font-size:18px;

color:white;

cursor:pointer;

}


button:hover{

background:#1d4ed8;

}


.result{

margin-top:35px;

padding:30px;

background:white;

border-radius:15px;

box-shadow:0 0 15px rgba(0,0,0,.08);

text-align:center;

}


.result h1{

color:#2563eb;

}